; Configure npm behavior for peer dependencies and pre/post scripts.

; Automatically install peer dependencies when using npm 7.
auto-install-peers=true

; Allow for leniency with strict peer dependency checks.
strict-peer-dependencies=false

; Enable the execution of pre/post scripts during package installation.
enable-pre-post-scripts=true
