<!-- /#examples.section starts-->
<div id="examples" class="section">
  <!-- /.container starts-->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <h2 class="title">Sample <span>Screeenshots</span></h2>
        <!-- /.example-images starts-->
        <div class="example-images">
          <div class="row">
						<app-image-box *ngFor="let num of numbers" number={{num}}></app-image-box>
          </div><!-- /.example-images ends-->
        </div>
      </div>
    </div><!-- /.container ends-->
  </div><!-- /#examples.section ends-->
