@font-face {
    font-family: 'Cambria';
    src: url('Cambria-Italic.eot');
    src: url('Cambria-Italic.eot?#iefix') format('embedded-opentype'),
        url('Cambria-Italic.woff2') format('woff2'),
        url('Cambria-Italic.woff') format('woff'),
        url('Cambria-Italic.ttf') format('truetype'),
        url('Cambria-Italic.svg#Cambria-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cambria';
    src: url('Cambria.eot');
    src: url('Cambria.eot?#iefix') format('embedded-opentype'),
        url('Cambria.woff2') format('woff2'),
        url('Cambria.woff') format('woff'),
        url('Cambria.ttf') format('truetype'),
        url('Cambria.svg#Cambria') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cambria';
    src: url('Cambria-Bold.eot');
    src: url('Cambria-Bold.eot?#iefix') format('embedded-opentype'),
        url('Cambria-Bold.woff2') format('woff2'),
        url('Cambria-Bold.woff') format('woff'),
        url('Cambria-Bold.ttf') format('truetype'),
        url('Cambria-Bold.svg#Cambria-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cambria';
    src: url('Cambria-BoldItalic.eot');
    src: url('Cambria-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Cambria-BoldItalic.woff2') format('woff2'),
        url('Cambria-BoldItalic.woff') format('woff'),
        url('Cambria-BoldItalic.ttf') format('truetype'),
        url('Cambria-BoldItalic.svg#Cambria-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.eot');
    src: url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Regular.woff2') format('woff2'),
        url('Montserrat-Regular.woff') format('woff'),
        url('Montserrat-Regular.ttf') format('truetype'),
        url('Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.eot');
    src: url('Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Bold.woff2') format('woff2'),
        url('Montserrat-Bold.woff') format('woff'),
        url('Montserrat-Bold.ttf') format('truetype'),
        url('Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-SemiBold.eot');
    src: url('Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-SemiBold.woff2') format('woff2'),
        url('Montserrat-SemiBold.woff') format('woff'),
        url('Montserrat-SemiBold.ttf') format('truetype'),
        url('Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

