@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

$browser-context: 16; // Default

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}