/* CLOCK */

@keyframes clockHandRotate {
  from {
    transform: rotate(0deg) translateY(6%);
  }

  to {
    transform: rotate(360deg) translateY(6%);
  }
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translate3d(0, 0, 0);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  40% {
    transform: translate3d(0, -2em, 0);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  }

  70% {
    transform: translate3d(0, -1em, 0);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  }

  90% {
    transform: translate3d(0, -0.25em, 0);
  }
}

.spinner-wrap {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: rem(15);
  backdrop-filter: blur(4px);
}

.spinner {
  position: relative;
  width: 4em;
  height: 4em;

  .dial {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    animation: bounce 1.5s infinite;
    border: 0.2em solid #333;
    border-radius: 100%;

    .hand {
      position: absolute;
      bottom: 2em;
      left: 50%;
      width: 0.2em;
      margin-left: -0.1em;
      transform-origin: 50% 100%;
      border-radius: 0 0 0.2em 0.2em;
      background-color: #333;
    }

    .hour {
      &.hand {
        height: 1em;
        animation: clockHandRotate 12s linear infinite;
      }
    }

    .minute {
      &.hand {
        height: 1.5em;
        animation: clockHandRotate 1s linear infinite;
      }
    }
  }
}