$browser-context: 16; // Default

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$body-color: #7e858a;
$primary: #e6b200;
$secondary: #26313a;
$red: #e91e63;

$font-family-base: "Montserrat";
$font-family-cursive: "Cambria";

$link-color: $primary;
$link-decoration: none;
$link-hover-decoration: underline;

$input-border-color: $gray-300;
$input-focus-border-color: $primary;
$input-focus-box-shadow: none;