<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="footer-link">
          <ul>
            <li><span class="text">&copy; 2020</span> <a href="https://pph.me/vijayhardaha/" target="_blank">Vijay Hardaha</a></li>
            <li><span class="text">Twitter:</span> <a href="https://twitter.com/vijayhardaha/" target="_blank">@vijayhardaha</a></li>
            <li><span class="text">Hire Me:</span> <a href="https://pph.me/vijayhardaha/" target="_blank">pph.me/vijayhardaha</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer><!-- #footer -->
